<script src="js/tooltip.js"></script>
<link href="css/styles.css" rel="stylesheet">
<link href="css/help.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/bootstrapValidator.css" rel="stylesheet">

<script type="text/javascript" src="wselect/wSelect.js"></script>

<link rel="Stylesheet" type="text/css" href="wselect/wSelect.css" />

<script src="js/lujos.js">
    $("#caption").html("Fatcaf&aacute;cil versi&oacute;n " + gui.App.manifest.version);
</script>

<div class="slide-wrapper" style="height:100%;">
    <div id="slide1" class="slide active">
        <div>
            <img src="imagenes/bkg-inicio.png" class="img-responsive img-ini">
            <img class="logo-ini animated fadeInUp wow" src="imagenes/ff.png" width="70" height="70">
            <h4 class="title-ini animated fadeInUp wow">BIENVENIDOS A FATCA-F&Aacute;CIL</h4>
            <p class="text-ini animated fadeInUp wow">Facta F&aacute;cil apoya a las empresas en el cumplimiento de todos los requisitos tributarios y de intercambio de informaci&oacute;n en virtud de la legislaci&oacute;n FATCA.</p>
            <div id="b_login" style="display:block">
                <a href="#" class="btn btn-ini animated fadeInUp wow" style="bottom: 180px;width: 180px;" onclick=' $("#workspace").load("html/login.html", function() {});'>IR AL LOGIN</a>
            </div>
            <nav>
                <a href="#" class="btn btn-ini animated fadeInUp wow" style="width: 180px;" id="btn-next">INICIAR AHORA</a>
            </nav>
        </div>
        <div class="wrapp-ini">
            <h3 class="animated fadeInUp wow">MUCHOS BENEFICIOS</h3>
            <div class="air-ini animated fadeInUp wow">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div>
                                <div class="col-sm-6 step-01"></div>
                                <dl>F&Aacute;CIL INTEGRACI&Oacute;N
                                    <dt class="sm-ini">M&uacute;ltiples formatos</dt>
                                </dl>
                            </div>
                            <p>Recibe archivos de m&uacute;ltiples formatos(CSV, XLS) .</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div>
                                <div class="col-sm-6 step-02"></div>
                                <dl>WINDOWS XP +
                                    <dt class="sm-ini">Interfaz moderna</dt>
                                </dl>
                            </div>
                            <p>Nuestra aplicaci&oacuten se instala en el escritorio para sistemas operativos a partir de Windows XP 32 y 64 bits. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div>
                                <div class="col-sm-6 step-03"></div>
                                <dl>INTERFAZ INTUITIVA
                                    <dt class="sm-ini">Experiencia de usuario</dt>
                                </dl>
                            </div>
                            <p>La aplicaci&oacute;n cuenta con una interfaz sencilla y amigable que facilita su uso.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div>
                                <div class="col-sm-6 step-01"></div>
                                <dl>SOPORTE
                                    <dt class="sm-ini">Soporte completo</dt>
                                </dl>
                            </div>
                            <p>Nuestro servicio cuenta con soporte presencial, telef&oacute;nico, correo y chat. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flat">
                <h5>FATCA-F&Aacute;CIL YA ESTA EN:</h5>
                <div class="pe_ini" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="PER&Uacute;"></div>
                <div class="pa_ini" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="PANAM&Aacute;"></div>
                <div class="cl_ini" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="CHILE"></div>
                <div class="bo_ini" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="BOLIVIA"></div>
                <div class="bm_ini" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="BERMUDAS"></div>
                <div class="uy_ini" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="URUGUAY"></div>
            </div>
            <button class="btn btn-ini-foo" onclick="openUrl();">DOCUMENTACI&Oacute;N</button>
            <div class="footer-ini">AV. ARAMBUR&Uacute; #856 OFICINA 302 / LIMA 34 - PER&Uacute;. / TEL&Eacute;FONO: (511) 421 4059
            </div>

        </div>
        <div class="footer-ini-bkg"></div>

    </div>

    <div id="slide2" class="slide">
        <div class="wrapp-ini-02 ">
            <div class="slide-header">CONFIGURE PA&Iacute;S y MODELO</div>
            <div class="slide-content">
                <H5>PA&Iacute;S</H5>
                <p class="text-justify">Seleccione el pa&iacute;s de su Instituci&oacute;n Financiera.</p>
                <br>
                <H4>Modelos</H4>
                <p class="text-justify"><b>Modelo IGA 1</b>: La autoridad tributaria se compromete a informar al IRS informaci&oacute;n especifica sobre las cuentas mantenidas por las instituciones financieras ubicadas en su jurisdicci&oacute;n.</br>
                    <br/><b>Modelo IGA 2</b>: Las instituciones financieras se compromete a informar directamente al IRS informaci&oacute;n especifica sobre las cuentas mantenidas en su jurisdicci&oacute;n.</p>
            </div>
        </div>
        <div class="wrapp-ini-03" style="background-color:#fff;">

            <div class="country">
                <fieldset>
                    <legend style="padding-top:10px;">Informaci&oacute;n del pa&iacute;s y modelo</legend>
                    <div class="form-group row form_ff02">
                        <div class="col-sm-6 text-left">
                            <select style="width: 100%;" id="pais" class="slct form-control" onchange="$('#bpais').attr('src',$('#b_'+$('#pais').val()).html())">
                            </select>
                            <label for="textinput">Pa&iacute;s</label>
                        </div>
                        <div class="col-sm-6 text-left">
                            <select id="modelo" class="slct form-control" id="paisfinanciera">
                                <option value="IGA1">IGA1</option>
                                <option value="IGA2">IGA2</option>
                            </select>
                            <label for="textinput">Modelo</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Informaci&oacute;n de contacto</legend>

                    <form id="form_contacto">
                        <div class="form-group row form_ff02">
                            <div class="col-sm-6 text-left">
                                <input id="nombrecontacto" name="nombrecontacto" class="form-control" placeholder="Nombres">
                                <span class="form-highlight"></span>
                                <span class="form-bar"></span>
                                <label for="textinput">Nombre de contacto</label>
                            </div>

                            <div class="col-sm-6 text-left">
                                <input id="correocontacto" name="correocontacto" class="form-control" placeholder="Correo">
                                <span class="form-highlight"></span>
                                <span class="form-bar"></span>
                                <label for="textinput">Correo de Contacto</label>
                            </div>
                        </div>
                    </form>

                    <script>
                        /*$("#form_contacto").validate({ 
                             rules: { 
                               nombrecontacto: "required",    // simple rule, converted to {required: true} 

                               correocontacto: "required", 

                              }, 
                              messages: { 
                               comment: "Please enter a comment." 
                             } 
                            });*/
                    </script>
                </fieldset>

            </div>

            <nav>
                <a href="#" class="btn btn-wizz2" id="btn-prev">ANTERIOR</a>
                <!--<a href="#" class="btn btn-ini-foo btn-wizz"  id="btn-next" >SIGUIENTE</a>-->
                <button href="#" class="btn btn-ini-foo btn-wizz" onclick="$('#form_contacto').submit();">SIGUIENTE</button>
            </nav>
        </div>

    </div>
    <div id="slide3" class="slide">
        <div class="wrapp-ini-02 ">
            <hr>
            <div class="slide-header text-center" style="padding:0px;">CREA UN USUARIO</div>
            <hr>
            <div class="slide-content">
                <p class="text-justify" style="letter-spacing: 0.3px;">Cree su cuenta de usuario con la informaci&oacute;n solicitada por el sistema. Maneje su password o contrase&ntilde;a de manera confidencial dado lo sensible de la informaci&oacute;n.
                    <br/>
                </p>
            </div>
        </div>
        <div class="wrapp-ini-03">
            <div class="country">

                <fieldset id="registrationForm" method="post">
                    <div class="form-group row form_ff02 down_ff">
                        <div class="col-sm-12 text-left">
                            <input id="usuario_creacion_usuario" onkeypress="return alfanumerico(event)" type="text" class="form-control" placeholder="Nombre usuario" name="username">
                            <span class="form-highlight"></span>
                            <span class="form-bar"></span>
                            <label for="textinput">Usuario</label>
                        </div>
                    </div>
                    <div class="form-group row form_ff02">
                        <div class="col-sm-12 text-left">
                            <input id="usuario_creacion_nombres" name="usuario_creacion_nombres" onkeypress="return onlyLetters(event)" type="text" class="form-control" placeholder="Nombres">
                            <span class="form-highlight"></span>
                            <span class="form-bar"></span>
                            <label for="textinput">Nombres</label>
                        </div>
                    </div>
                    <div class="form-group row form_ff02 down_ff">
                        <div class="col-sm-12 text-left">
                            <input id="usuario_creacion_apellidos" name="usuario_creacion_apellidos" onkeypress="return onlyLetters(event)" type="text" class="form-control" placeholder="Apellidos">
                            <span class="form-highlight"></span>
                            <span class="form-bar"></span>
                            <label for="textinput">Apellidos</label>
                        </div>
                    </div>
                    <div class="form-group row form_ff02">
                        <div class="col-sm-12 text-left">
                            <input id="usuario_creacion_repassword" name="usuario_creacion_repassword" type="password" class="form-control" placeholder="contraseña" name="password">
                            <span class="form-highlight"></span>
                            <span class="form-bar"></span>
                            <label for="textinput">Escribir contraseña</label>
                        </div>
                    </div>
                    <div class="form-group row form_ff02 down_ff">
                        <div class="col-sm-12 text-left">
                            <input id="usuario_creacion_password" name="usuario_creacion_password" type="password" class="form-control" placeholder="Confirmar contraseña">
                            <span class="form-highlight"></span>
                            <span class="form-bar"></span>
                            <label for="textinput">Confirmar contraseña</label>
                        </div>
                    </div>
                </fieldset>

                <nav>
                    <button href="#" class="btn btn-ini-foo btn-wizz" id="btn-next" onclick="$('#registrationForm').submit();return false;">SIGUIENTE</button>
                    <a href="#" class="btn btn-wizz2" id="btn-prev">ANTERIOR</a>
                </nav>
            </div>

        </div>

    </div>
    <!--SLIDE END-->

    <script>
        $(document).ready(function() {
            $('#registrationForm').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    username: {
                        message: 'El usuario no es v&aacute;lido',
                        validators: {
                            notEmpty: {
                                message: 'El usuario no puede quedar vac&iacute;o'
                            },
                            stringLength: {
                                min: 3,
                                max: 30,
                                message: 'El usuario debe tener de 3 a 30 caracteres'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9]+$/,
                                message: 'Esta usando caracteres no v&aacute;lidos para el usuario'
                            }
                            /*,
                                                different: {
                                                    field: 'password',
                                                    message: 'The username and password cannot be the same as each other'
                                                }*/
                        }
                    },
                    usuario_creacion_nombres: {
                        message: 'Los nombres del usuario no son v&aacute;lidos',
                        validators: {
                            notEmpty: {
                                message: 'Los nombres usuario no puede quedar vac&iacute;o'
                            },
                            stringLength: {
                                min: 3,
                                max: 30,
                                message: 'Los nombres del usuario deben tener de 3 a 30 carácteres'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9ñÑ\s]+$/,
                                message: 'Esta usando caracteres no v&aacute;lidos para los nombres del  usuario'
                            }
                            /*,
                                                different: {
                                                    field: 'password',
                                                    message: 'The username and password cannot be the same as each other'
                                                }*/
                        }
                    },
                    usuario_creacion_apellidos: {
                        message: 'Los apellidos del usuario no son v&aacute;lidos',
                        validators: {
                            notEmpty: {
                                message: 'Los apellidos del usuario no puede quedar vac&iacute;o'
                            },
                            stringLength: {
                                min: 3,
                                max: 30,
                                message: 'Los apellidos del usuario debe tener de 3 a 30 carácteres'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9ñÑ\s]+$/,
                                message: 'Esta usando caracteres no v&aacute;lidos para los apellidos del usuario'
                            }
                            /*,
                                                different: {
                                                    field: 'password',
                                                    message: 'The username and password cannot be the same as each other'
                                                }*/
                        }
                    },

                    usuario_creacion_password: {
                        validators: {
                            notEmpty: {
                                message: 'El campo passoword no puede quedar vac&iacute;o'
                            },

                            stringLength: {
                                min: 3,
                                message: 'El passoword no puede tener menos de 3 caracteres'
                            }
                        }
                    },
                    usuario_creacion_repassword: {
                        validators: {
                            notEmpty: {
                                message: 'El campo passoword no puede quedar vac&iacute;o'
                            },

                            stringLength: {
                                min: 3,
                                message: 'El passoword no puede tener menos de 3 caracteres'
                            }
                        }
                    },

                }
            }).on('success.form.bv', function(e) {

                checkClave();
            });;

            $('#form_contacto').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    nombrecontacto: {
                        message: 'El usuario no es v&aacute;lido',
                        validators: {
                            notEmpty: {
                                message: 'El usuario no puede quedar vac&iacute;o'
                            },
                            stringLength: {
                                min: 3,
                                max: 30,
                                message: 'El usuario debe tener de 3 a 30 caracteres'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9ñÑ\s]+$/,
                                message: 'Esta usando caracteres no v&aacute;lidos para el usuario'
                            }
                            /*,
                                                different: {
                                                    field: 'password',
                                                    message: 'The username and password cannot be the same as each other'
                                                }*/
                        }
                    },
                    correocontacto: {
                        message: 'El usuario no es v&aacute;lido',
                        validators: {
                            notEmpty: {
                                message: 'El usuario no puede quedar vac&iacute;o'
                            },
                            emailAddress: {
                                message: 'El valor introducido no es un correo electronico'
                            }
                            /*,
                                                different: {
                                                    field: 'password',
                                                    message: 'The username and password cannot be the same as each other'
                                                }*/
                        }
                    },
                }
            }).on('success.form.bv', function(e) {

                goconfiguracion(3);
            });

        });

        /*$("#form_contacto").validate({ 
             rules: { 
               nombrecontacto: "required",    // simple rule, converted to {required: true} 

               correocontacto: "required", 

              }, 
              messages: { 
               comment: "Please enter a comment." 
             } 
            });*/
    </script>