<div class="wra_path_3" id="wra_path_3">
    <div class="wra_path_2">
        <i class="fa fa-refresh"></i>Historial de per&iacute;odo
    </div>
    <div id="inner-content-div2">
        <table id="example" class="table table-hover" style="margin:0px">
            <thead>
                <tr>
                    <th style="width:130px;"></th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div id="listPeriodosPorAnio">
        </div>
        <!--
     <div class="card_info card_info_active">
     <table class="table">
     <tbody>
     <tr>
      <td><img data-toggle="tooltip" data-placement="right" title="Enviado a Sunat" src="imagenes/good_hover.png" width="16" height="16" /></td>
      <td style="width:80px"><div class="iffyTip wd100" title="" data-original-title="">fullname_cutwithtooltip</div></td>
      <td>02/06/2015<br><strong>12:45 AM.</strong></td>
      <td>02/06/2015<br><strong>12:45 AM.</strong></td>
    </tr>
    </tbody>
    </table>
     </div>-->

    </div>
</div>
<div class="wra_path_4" id="wrapper_2">
    <div class="wra_path_5">
        <button disabled='disabled' class="btn btn_fatca" data-toggle="tooltip" data-placement="right" title="Enviar a Sunat">
            <svg id="sunat" width="14px" height="15px">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M10.674,9.562c0.02-0.697,0.902-3.12-2.675-3.194
             C5.263,6.312,3.255,6.733,3.308,3.669L7.097,0L14,6.416L10.674,9.562L10.674,9.562z" />
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M3.327,5.438C3.305,6.137,2.421,8.56,6,8.632
             c2.739,0.056,4.745-0.364,4.694,2.698L6.903,15L0,8.584L3.327,5.438L3.327,5.438z" />
            </svg>
        </button>
        <button id="b_descargarXML" class="btn btn_fatca btn_tx" data-toggle="tooltip" data-placement="right" title="Descargar XML"><i class="fa fa-cloud-download"></i></button>
        <button id="b_descargarModelo" class="btn btn_fatca btn_tx" data-toggle="tooltip" data-placement="right" title="Descargar archivo para IDES"><i class="fa fa-cube"></i></button>
        <div id="downloadfilecontent" style="display:none">
            <input type="file" id="downloadfile" style="display:none" />
        </div>
        <div id="wrap">
            <form action="#" onSubmit="buscarTexto(); return false;">
                <input id="i_envio_text" name="search" type="hidden">
                <input id="search_text" name="search" type="text">
                <input id="search_submit" type="submit">
            </form>
        </div>
    </div>
    <div class="pag_n col-sm-12">
        <div class="row">
            <p class="col-sm-7" style="margin: 0;padding-top: 7px;" id="l_resultados"></p>
            <ul class=" col-sm-2 pagination pagination-sm" style="margin:0px">
                <div id="d_informes">

                </div>
            </ul>
            <ul class=" col-sm-3 pagination pagination-sm" style="margin:0px">
                <li style="float: right;"><a id="b_next_pag" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right" style="font-size:12px;padding: 7px 2px 0px 5px;"></i></span></a></li>
                <li style="float: right;"><a id="b_previous_pag" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-left" style="font-size:12px;padding: 7px 5px 0px 2px;"></i></span></a></li>
            </ul>
        </div>
    </div>
    <div id="inner-content-div3">
        <div class="wra_path_6 table-responsive">
            <div class="table table_fatca">
                <table id="example_2" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Propietario</th>
                            <th>Número de cuenta</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody id="listCuentaPorPeriodo">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="js/tooltip.js"></script>
<script type="text/javascript">
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function() {
        var i = 0;
        var ant = this;
        $('#wra_path_3 #card_1').click(function() {

            if ($(ant).hasClass("card_select")) {
                $(ant).removeClass("card_select");
                var target = $(ant).attr('href');
                $(target).toggleClass('hidden show');

            }
            if ($(this).hasClass("card_select")) {

                $(this).removeClass("card_select");
                var target = $(this).attr('href');
                $(target).toggleClass('hidden show');
            } else {
                $(this).addClass("card_select");
                var target = $(this).attr('href');
                $(target).toggleClass('hidden show');
            }

            ant = this;
        });

    });
</script>

<script type="text/javascript">
    //alert(global.tipoModelo);

    /*if(global.tipoModelo=="IGA2"){
      $("#b_descargarModelo").show();
    }  else{
      $("#b_descargarModelo").hide();
    }*/
    /*if(c.rows.item(0).modelo=="IGA1"){
      b_descargarModelo
    }*/
    function abrirNotificacion(e){
        $(e).toggleClass("fa-angle-down").toggleClass("fa-angle-up");
    }

    /*$(".abrir_notifi").click(function(){
    $(".abrir_notifi i").toggleClass("fa-angle-down").toggleClass("fa-angle-up");
    });
*/
    $(".card_info table tr").click(function(event) {
        if (event.currentTarget.tagName != "TR") {
            return;
        }

        var container2 = $('#wrapper_2');
        loadURL("detalles_01.html", container2);
        $(this).closest("table").find("tr.highlight").removeClass("highlight");
        $(this).addClass("highlight");
    });

    function loadURL(url, container) {
        //console.log(container)

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'html',
            cache: true, // (warning: this will cause a timestamp and will call the request twice)
            beforeSend: function() {
                // cog placed
                // alert(url);

                container.html('<h1><i class="fa fa-cog fa-spin"></i> Loading...</h1>');

                // Only draw breadcrumb if it is main content material
                // TODO: see the framerate for the animation in touch devices

                if (container[0] == $("#wrapper_2")[0]) {
                    // scroll up
                    $("html").animate({
                        scrollTop: 0
                    }, "fast");
                }
            },
            /*complete: function(){
                // Handle the complete event
                // alert("complete")
            },*/

            success: function(data) {
                // cog replaced here...

                container.html(data);

            },
            error: function(xhr, ajaxOptions, thrownError) {

                container.html('<h4 style="margin-top:10px; display:block; text-align:left"><i class="fa fa-warning txt-color-orangeDark"></i> Error 404! Page not found.</h4>');
            },
            async: false

        });
    }
    $(function() {
        $('#inner-content-div2').slimScroll({
            railOpacity: 0.9,
            size: '8px',
            height: ' calc(100% - 80px)',
        });
    });
    $(function() {
        $('#inner-content-div3').slimScroll({
            railOpacity: 0.9,
            size: '8px',
            height: ' calc(100% - 80px)',
            width: '100%',
        });
    });
</script>