<script>
    function load_configuracion() {
        var cs = new ConfiguracionService();

        $("#workspace").load("html/configuracion.html", function() {
            global.isLogged = false;
            goconfiguracion(2);

            ///////////////////////////


            ///////////////////
            cs.getListaPais(function(data) {


                if (data.rows.length > 0) {
                    $('#pais').empty();

                    for (i = 0; i < data.rows.length; i++) {
                        $("#pais").append("<option data-icon='" + data.rows.item(i).BANDERA + "'' value=" + data.rows.item(i).CODIGOPAIS + ">" + data.rows.item(i).NOMBRE + "</option>");

                    }
                }
                $('#pais').change();


                $('#pais').wSelect();

                /*$('#pais').change(function() {
    console.log($(this).val());
});
$('#pais').val('AU').change(); // should see in console
$('#pais').val('PL').wSelect('change'); // should see the selected option change to three
$('#pais').append('<option value="US" data-icon="./img/US.png">United States of America</option>').wSelect('reset');
$('#pais').val('CA').change()*/


            });

        });
    }
    $("#caption").html("Fatcaf&aacute;cil versi&oacute;n " + gui.App.manifest.version);
</script>
<div class="wrapper_03">
    <form class="login" onsubmit="return false;">
        <p class="title">Iniciar sesión</p>
        <input type="text" id="usuario" placeholder="Usuario" autofocus/>
        <i class="fa fa-user"></i>
        <input type="password" id="password" placeholder="Contraseña" />
        <i class="fa fa-lock"></i>
        <a id="id101" href="#" onclick="load_configuracion()">Crear un nuevo usuario</a>

        <button onclick="fc.checkUsuario(document.getElementById('usuario').value, document.getElementById('password').value);">
            <i class="spinner"></i>
            <span class="state">Entrar</span>
        </button>

    </form>
</div>
 
