/*NEW*/
.card-ff>h5 {
	  color: #2979ff;
	  font-weight:700;
}
.card-ff>p {
	  color: #abbad0;
	  text-align: justify;
      padding: 5px;
	  line-height: 20px;
}
.card-ff>small {
	  color: #2979ff;
	  float: left;
      padding-left: 5px;
}
.help {
	  background-image:url(../imagenes/ayuda.svg);
	  width:38px;
	  height:38px;
	  position:absolute;
	  margin-left: 28px;
}
.wra_help {
	  position: absolute;
      margin-top: 58px;
} 
.card-ff {
	  background: #fff;
	  border-radius: 4px;
	  position: absolute;
	  width: 200px;
	  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	  text-align: center;
	  padding: 10px;
	  margin-left: 22px;
	  margin-top: 20px;
}
.notice-close {
	  float:right;   
	  cursor: pointer;
	  color: #3e4960;
	  margin-bottom: 10px;
}
.s-ini {
	  position: absolute;
	  color: #E7EFF9;
	  margin-top: 165px;
	  margin-left: 148px;
}
.btn-ini {
	  cursor:pointer;
	  position: absolute;
      bottom: 90px;
      color: #304FFE;
      background-color: #E8F0FA;
      padding: 15px 28px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      margin-left: 82px;
	  box-shadow: 0 1px 3px 0 #202C40, 0 1px 1px 0 #202C40;
	  z-index:2
}
.btn-ini:hover, .btn-ini:focus {
	  background-color: #304FFE;
	  color: #E8F0FA;
	  box-shadow: 0 5px 10px 0 #202C40, 0 4px 5px 0 #202C40;
}
.text-ini {
	  position: absolute;
	  width: 330px;
	  height: auto;
	  color: #E8F0FA;
	  text-align: justify;
	  margin-top: 230px;
	  margin-left: 12px;
	  z-index:2
}
.title-ini {
	  position: absolute;
	  color: #e8f0fa;
	  margin-top: 140px;
	  font-size: 20px;
	  margin-left: 34px;
	  z-index:2
}
.logo-ini {
	  position: absolute;
	  margin-left: 146px;
	  margin-top: 50px;
	  z-index:2
}
.img-ini {
	  position: absolute;
	  height: 100%;
	  min-height: 566px;
	  max-width: 356px;
	  z-index:2
}
.wrapp-ini {
	  margin-left: 356px;
      padding: 20px;
}
.wrapp-ini>h3 {
	  olor: #3e4960;
      font-weight: 600;
	  text-align:center;
}
.step-01 {
	  background-image: url('../imagenes/01.svg'); 
	  width:48px;
	  height:48px;
	  background-repeat:no-repeat;
	  max-width: 254px;
}
.step-02 {
	  background-image: url('../imagenes/02.svg'); 
	  width:48px;
	  height:48px;
	  background-repeat:no-repeat;
	  max-width: 254px;
}
.step-03 {
	  background-image: url('../imagenes/03.svg'); 
	  width:48px;
	  height:48px;
	  background-repeat:no-repeat;
	  max-width: 254px;
}
.pe_ini {
	  background-image: url('../imagenes/pe.png'); 
	  width:29px;
	  height:29px;
	  background-repeat:no-repeat;
	  position:absolute;
	  margin-left: 210px;
      margin-top: -35px;
}
.pa_ini {
	  background-image: url('../imagenes/pa.png'); 
	  width:29px;
	  height:29px;
	  background-repeat:no-repeat;
	  position:absolute;
	  margin-left: 250px;
      margin-top: -35px;
}
.cl_ini {
    background-image: url('../imagenes/cl.png'); 
    width:29px;
    height:29px;
    background-repeat:no-repeat;
    position:absolute;
    margin-left: 290px;
      margin-top: -35px;
}
.bm_ini {
    background-image: url('../imagenes/bm.png'); 
    width:29px;
    height:29px;
    background-repeat:no-repeat;
    position:absolute;
    margin-left: 330px;
      margin-top: -35px;
}
.bo_ini {
    background-image: url('../imagenes/bo.png'); 
    width:29px;
    height:29px;
    background-repeat:no-repeat;
    position:absolute;
    margin-left: 370px;
      margin-top: -35px;
}
.uy_ini {
    background-image: url('../imagenes/uy.png'); 
    width:29px;
    height:29px;
    background-repeat:no-repeat;
    position:absolute;
    margin-left: 410px;
      margin-top: -35px;
}


.wrapp-ini .row .text-center>p {
	  margin-top: 20px;
	  color: #333;
	  text-align: left;
}
.sm-ini {
	  color: #4f91fe;
}
.text-center>div>dl {
	  font-weight: 700;
      color: #333;
}
.air-ini {
	  margin-top: 40px;
}
.flat>h5 {
	  padding-left: 15px;
	  color: #333;
	  font-weight: 600;
}
.footer-ini {
	  text-align: center;
	  padding: 10px 15px;
	  position: absolute;
      bottom: 0px;
	  font-size: 12px;
	  z-index:9999;
}
.footer-ini-bkg {
	  background-color: #dce5f0;
	  position: absolute;
	  bottom: 0;
	  height: 40px;
	  width: 100%;
	  z-index: 1;
}
.flat {
	  position: absolute;
      bottom: 90px;
}
.btn-ini-foo {
	  bottom: 90px;
	  right: 40px;
	  background-color: #2979FF;
	  color: #fff;
	  font-size: 12px;
	  padding: 10px;
	  position: absolute;
	  border-radius: 4px;
}
.btn-wizz {
	  bottom:40px;
	  box-shadow:none;
}
.btn-wizz2 {
	  bottom: 40px;
      left: 422px;
	  background-color: #CCD8E7;
	  color: #fff;
	  font-size: 12px;
	  padding: 10px;
	  position: absolute;
	  border-radius: 4px;
}
.btn-wizz2:hover, .btn-wizz2:focus {
	  background-color: #afbed5;
	  color:#fff;
}
.btn-ini-foo:hover, .btn-ini-foo:focus  {
	  background-color: #304FFE;
	  color:#fff;
}
.slide>div>nav {
	  margin: 0px;
}

.wrapp-ini-02 {
	  width: 380px;
	  background-color: #e8f0fa;
	  height: 100%;
	  position: absolute;
}
.wrapp-ini-03 {
	  height: 100%;
	  margin-left:380px;
	  background-color: #e8f0fa;
      padding: 20px;
}
.step-wizzard {
	  background-color: #afbed5;
      height: 50px;
}
#slide3 > .wrapp-ini-03  > .country {
	  padding: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.country {
      height: calc(100% - 35px);
	  background-color: #fff;
      border-radius: 3px;
}
.form-group .country {
	  margin-bottom:0px;
}
fieldset .form-group .col-sm-6 .form-control, fieldset .form-group .col-sm-4 .form-control, fieldset .form-group .col-sm-12 .form-control {
       border-color: #ddd !important;
        background-color: transparent !important;
}
/*.form-group .col-sm-6>input {
      border-color: #afbed5 !important;
      background-color: #f6f9fd !important;
}*/
/*SWITCH*/
.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 8px;
  padding: 16px 0 16px 44px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #dddddd;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #79ABFF;
}
.switch-input:checked + .switch-label:after {
  background-color: #2979FF;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
/*TABS*/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  font-weight:200;
  border: 0;
  margin-right: 0;
  color: #c3c3c3;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 2px solid #7BACFF;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #c3c3c3;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 2px solid #2979ff;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #747678;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  
  border: 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}


/* -- Input styles ---------------------------------- */
.form-group {
  position: relative;
  margin-top: 30px;
  margin-bottom: 5px !important;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #dddddd;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #2979ff;
  outline: none;
  box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
  font-size: 12px;
  top: -10px;
  position: absolute;
  color: #2b364b;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 1.6rem;
  }
}
.float-label {
  left: 0;
  top: 7px;
  font-size: 1.6rem;
  pointer-events: none;
}
/* active state */
.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
  top: -18px;
  font-size: 1.2rem;
}
/* input colors ---- */
.form-control:focus ~ label {
  color: #2979ff;
}
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  background: #2979ff;
}
/* help-block */
.form-group .help-block {
  position: absolute;
}
.help-block {
  color: #bdbdbd;
  font-size: 1.2rem;
  font-weight: 300;
}
/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent;
}
/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
  display: table-cell;
}
.input-group-addon,
.input-group-btn {
  width: inherit;
}
.input-group {
  width: 100%;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 1.6rem;
  }
  .input-group-btn,
  .input-group .form-control,
  .input-group-addon,
  .form-inline .input-group {
    display: inline-block;
  }
  .input-group {
    width: auto;
  }
}
/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before,
.form-bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
.slct {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin-top: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  color: #989898;
}

input[placeholder] {
  font-weight: 200px;
  font-size: 12px;
  color: #2979ff;
}
.air_foo {
  padding-top: 15px;
  height: 50px;
}
select:not(:-internal-list-box) {
  font-weight: 200px;
  font-size: 12px;
  color: #989898;
}
.txtar {
  width: 100%;
  border: 1px solid #dddddd;
  margin-top: 14px;
  font-size: 12px;
  color: #989898;
  padding: 10px;
}
.modal_ff {
  width: 500px;
  float: none;
  margin: 0 auto;
}
textarea:focus {
    outline: none !important;
    border:1px solid #2979ff;
}
.diss_ff {
    font-size: 12px;
    width: 100%;
    background: none !important;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 36px;
	color: #2979ff !important;
}
.diss_gim {
    margin-top: 0px;
    background: none !important;
    color: #2979ff;
    font-size: 12px;
}
.up_file_ff {
    border: 1px dashed #ddd;
    padding: 10px;
    font-size: 12px;
    border-radius: 6px !important;
    margin-top: 6px;
    cursor: pointer;
}
.up_file_ff:hover {
   border: 1px dashed #2979FF;
   color: #2979FF;
}
.form_ff02 {
   margin-top: 30px !important;
}
.col-sm-8>dl {
   font-weight: 700;
   color: #333;
}
.text_ff_2 {
   letter-spacing: 0.3px;
   text-align: justify;
}
.slide-content>h5 {
    color: #2B364B;
    font-weight: 700;
}
.slide-content>p {
   color: #31364B;
}
.slide-content>p>b {
    font-style: italic;
    color: rgb(42, 117, 255);
}
hr {
   width: 200px;
   border-top: 1px solid #2A74FF;
}
fieldset>legend {
    font-size: 16px !important;
	padding-top: 40px;
    color: #2979ff;
}
.form-group>label {
      color:#28303e;
}
.modal-footer {
  padding: 0px 15px 15px;
  text-align: right;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wSelect-theme-classic.wSelect {
    margin-top: 8px !important;
    background-color: #fff !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd !important;
}
.form_ff03 {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
.add_ff {
    height: 50px;
    width: 300px;
    position: absolute;
	margin-top: -8px;
}
.modal-dialog {
    margin: 20px auto !important;
}.down_ff {
    margin-bottom: 40px !important;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #E55653 !important;
}
.has-error .form-control-feedback {
  color: #E55653 !important;
}
.has-success .form-control-feedback {
  color: #2A74FF !important;
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: none !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.has-success .form-control:focus {
   border-color: #843534;
  -webkit-box-shadow: none !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.has-success .form-control {
  -webkit-box-shadow: none !important;
}
.has-error .form-control {
  -webkit-box-shadow: none !important;
}