.dropdown-menu {
  border-radius:3px;
  margin-top: -10px !important;
  margin-left: -10px !important;
  width:200px;	
  margin: 0;
  padding: 0;
  display: block;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  will-change: transform;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); 
  }

.dropdown-menu > li > a {
  line-height: 24px;
  }

.dropdown-menu .divider {
  margin: 0;
  background-color: #e0e0e0; }

.open > .dropdown-menu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }
  
.dropdown-menu>ul>li>a {
	color: #afbed5;
    display: block;
    padding: 10px;
}
.dropdown-menu>ul>li>a:hover {
	color:#fff;
	text-decoration:none;
}
.dropdown-menu>ul>li {
	background-color:#f6f6f6;
}
.dropdown-menu>ul>li:hover {
	background-color:#2979ff;
}
.dropdown-menu>ul {
    padding-left: 0;
    list-style: none;
	margin: 5px 0px;
}

.wd20 {
    width:20px;
}
.wd100 {
    width:80px;
}
.iffyTip {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
 


#wrap {
  margin-right:6px;
  display: inline-block;
  position: relative;
  height: 16px;
  float: right;
  padding: 0;
  position: relative;
}

#wrap input[type="text"] {
  height: 35px;
  font-size: 16px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #e8f0fa;
  padding: 3px;
  padding-right: 10px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#wrap input[type="text"]:focus:hover {
  border-bottom: 1px solid #e8f0fa;
}

#wrap input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid #e8f0fa;
  cursor: text;
}
#wrap input[type="submit"] {
  margin-top:6px;
  height: 16px;
  width: 16px;
  display: inline-block;
  color:red;
  float: right;
  background-image: url('../imagenes/find.png');
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
}




 