body {
    font-family: 'Open Sans', sans-serif;
}
html,body {
  height:100%;
}
.nav_bar {
  border-top: 1px solid #488CFD;
    height: 65px;
    background-color: #2979ff;
    padding:10px;
  min-width: 900px;
  }
.logo_fatca {
    background-image: url('../imagenes/logo.svg');  
    width: 151px;
    height: 36px;
  position:absolute;
    margin: 6px 0px;
  }
.user_data {
  height:70px;
  padding:10px;
}
.user_fatca {
    background-image: url('../imagenes/user-info.svg'); 
    width: 56px;
    height: 56px;
  position:absolute;
}
.user_name {
  margin-left:70px;
  font-size: 12px;
  color: #2B364B;
}
.add_file {
    margin-left: 85px;
    position: absolute;
    width: 130px;
    cursor: pointer;
    border: 0;
    height: 130px;
  outline: none;
  top: 70px;
}

.add_file:hover:after {
    background-image: url('../imagenes/pc.svg');
}
.add_file:after {
    transition: 200ms all ease;
    background-image: url('../imagenes/pc.svg');
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    display: block;
    content: no-open-quote;
  line-height: 60px;
    border-radius: 5px;
  background-repeat: no-repeat;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.dropdown>a {
  color:#fff;
}
.dropdown>a:hover, .dropdown>a:focus {
  text-decoration:none;
}
.name_admin {
  right: 60px;
  position: absolute;
    margin-top: 10px;
}

.user_name>h6 {
  margin-top:0px;
}
.user_name>small {
  color:#2979ff;
}
.user_pass {
  float: right;
    margin-right: 15px;
}

.user_icon {
  background-image: url('../imagenes/change.svg');
  width:15px;
  height:15px;
  position:absolute;
  margin-left:30px;
}
.user_icon_2 {
  background-image: url('../imagenes/sesion.svg');
  width:14px;
  height:15px;
  position:absolute;
  margin-top:3px;
  margin-left:76px;
}
.container_fatca {
    height:100%;
}
.drop_fatca {
  right: -8px;
  top: -6px;
    float:right;
  list-style:none;
  padding:10px;
  width:200px;
}
.modal_center {
  float: none;width: 300px;
  margin: 0 auto;
  margin-top: 64px;
}
.pass_title {
   background-color: #2979ff;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   color: #fff;
   border-bottom:0px;
}
.pass_title_modal {
   font-weight: 200;
   font-size: 14px;
   margin: 0px;
}
/*.form-group>label {
  color: #afbed5;
    font-weight: 300;
}
.form-group>input {
  border-color: #afbed5;
    background-color: #f6f9fd;
}*/
.btn_fatca {
  background-color: #2979ff;
    color: #fff;
    font-weight: 200;
    border: none;
  font-size:12px;
}
.btn_fatca:hover, .btn_fatca:focus {
  background-color: #304ffe;
  color:#fff;
}

.btn_fatca_dis {
  background-color: #DCE5F0;
    border: none;
    color: #FFFFFF;
  font-size:14px;
}
.btn_fatca_dis:hover, .btn_fatca_dis:focus {
  background-color: #C8D4E2;
    color: #fff;
}
.close_fatca {
  color: #fff;
    text-shadow: 0 1px 0 transparent;
    opacity: 1;
}
.close_fatca:hover{
  color: #f6f6f6;
}
.sidebar {
  width: 200px;
    height: 100%;
    background-color: #2b364b;
  position:absolute;
}
.nav-pills>li>a {
  color: #afbed5;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
  background-color: #28303e;
  border-radius: 0;
  border-right: 3px solid #2979FF;
}
.icon_admin {
  margin-top:4px;
  width:15px;
  height:11px;
  background-image: url('../imagenes/admin.svg');
  position:absolute;
}
.icon_bank {
  margin-top:4px;
  width:14px;
  height:14px;
  background-image: url('../imagenes/bank.png');
  position:absolute;
}
.ent_fin {
  background-image: url('../imagenes/bcp.svg');
  float: none;
    margin: 0 auto;
  width: 130px;
  height: 36px;
}
nav>ul>li>a>p {
  margin-bottom: 0px;
    margin-left: 25px;
}
.card {
  background-color: #fff;
}
.tool_text {
  padding: 15px 0px;
    text-align: center;
}
.tool_text>button>i {
  margin-right: 8px;
}
.title_card {
  background-color: #2B364B;
    color: #afbed5;
  border-bottom: 1px solid #161E2F;
}
.title_card>a {
    padding: 10px;
    color: #AFBED5;
  display:block;
  text-decoration: none;
}
.title_card>a:hover {
  background-color: #161E2F;
  text-decoration: none;
  color: #fff;
}
li>code {
  color: #2979FF;
    background-color: #E8F0FA;
  padding: 2px 4px;
    font-size: 90%;
  border-radius: 4px;
}
.change-f {
    position: absolute;
    background-color: #2B364B;
    height: 25px;
    width: 25px;
    font-size: 12px;
    padding: 4px 6px;
}
.change-f>a {
    color: #E8F0FA;
}
.title_card2{
    margin-top: -5px;
  background-color: #E8F0FA;
    color: #afbed5;
}
.title_card2>a {
    padding: 10px;
    color: #AFBED5;
  display:block;
  text-decoration: none;
}
.years_2 {
    background-color: #161E2F;
  padding: 15px;
  color: #fff;
  font-size: 12px;
}
.years {
    background-color: #161E2F;
}
.years>li>a {
  display:block;
  color:#fff;
}
.years>li>a:hover, .years>li>a:focus {
  display:block;
  background-color: #101828;
}
.next {
  float: right;
    margin-top: 4px;
}
.up {
  margin-top:15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #28303e;
    border-right: 4px solid #2979FF;
    border-radius: 0px;
    color: #afbed5;
}
.wrapper {
    margin-left: 200px;
    background-color: #e8f0fa;
    height: 100%;
  min-width: 700px;
}
.modal_center_up {
  margin-top: -20px;
  width:600px;
}
.form_modal {
  width: 270px;
    position: absolute;
}
.form_modal_next {
  margin-left:300px;
}
.form_modal_up {
  margin-top:75px;
}
.up_form {
  margin-top: 122px;
}
.up_form_modal {
  margin-top: 80px;
}
.wra_path {
    background-color: #afbed5;
    padding: 10px;
}
.wra_path>button>img {
  margin-right: 10px;
  margin-top: -3px;
}
.table_fatca {
    padding:15px;
  margin-bottom:0px;
}


.table>thead>tr>th {
  border-bottom:none;
  background-color:#afbed5;
  color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}
.table .table{
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    background-color: #fff;
  border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.table .table>tbody>tr {
  background-color:#fff;
  text-align: center;
    color: #3e4960;
    font-size: 12px;
}
.table .table>tbody>tr:hover {
  background-color:#2979ff;
  color:#fff;
}

.pagination > li > a, .pagination > li > span {
  border: 0;
  border-radius: 100% !important;
  color: inherit;
  padding: 0;
  margin: 0 .1em;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: transparent; }

.pagination > li > a i {
  font-size: 2em; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: transparent;
  color: inherit; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  cursor: pointer;
  background-color: #2979FF;
  color: #fff; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  border: 0;
  background-color: transparent; }

.pagination-sm > li > a, .pagination-sm > li > span {
  padding: 0;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px; }

.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 0;
  font-size: 18px;
  width: 45px;
  height: 45px;
  line-height: 45px; }

.pager li > a, .pager li > span {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 3em; }

.pager li > a:focus, .pager li > a:hover, .pager li > a:active {
  outline: 0;
  background-color: transparent; }

.pager li.disabled > a, .pager li.disabled > a:hover, .pager li.disabled > a:active, .pager li.disabled > a:focus {
  background-color: transparent;
  color: #9e9e9e; }

.pager li.previous i:first-child {
  margin-left: -2px; }
.pager li.previous i:last-child {
  margin-left: -24px; }

.pager li.next i:first-child {
  margin-right: -24px; }
.pager li.next i:last-child {
  margin-right: -2px; }
.pagination>li>a {
  margin-right: 6px;
  color: #AFBED5;
  border-radius: 50%;
  border: none;
  background-color: #F6F9FD;
}
.pagination>li>a:hover{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  background-color:#eaecec;
  color:#747678;
  }
.pagination>li>a:focus{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  background-color:#2979FF;
  color:white;
  }
.pag_fatca {
  padding: 0px 15px;
}
.table_fatca>table {
    margin-bottom:0px;
}
.alert-danger-fatca {
  background-color: #2979ff;
  border-color: #304ffe;
  color: #b0ceff;
}
.wra_path_2 {
  background-color: #BDCCE4;
  padding: 16px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}
.wra_path_2>i {
  margin-right: 10px;
}
.wra_path_3 {
    width: 390px;
    position: absolute;
  height:100%;
  /*border-right: 1px solid #afbed5;*/
}
.wra_path_3 .table>thead>tr>th {
  background-color:transparent;
  color:#3e4960;
}
.card_info {
  background-color: #fff;
  padding: 4px;
    border-radius: 3px;
    margin: 0px 15px 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  /*border:1px solid #fff;*/
}
.table>tbody>tr>td>img {
  margin-left: 2px;
}
.card_info:hover {
  background-color: #2979FF;
  color: white;
  /*border: 1px solid #304ffe;*/
}

.abrir_notifi {
  background-color: #5D93EF;
}
.card_info:hover .abrir_notifi {
  color: white ;
}
.card_info.card_select .abrir_notifi {
  color: white ;
}
.notifi-bloque {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin: 0px 15px 15px;
  font-size: 12px;
  border-bottom: 3px solid #5D93EF;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.notifi-bloque dl {
  margin-bottom: 10px;
}
.notifi-bloque hr {
  margin: 5px 0px;
  width: 100%;
  border-top: 1px solid #DCE5F0;
}
.mas_info {
  position: absolute;
  right: 30px;
  margin-top: -20px;
  color: #444;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
#inner-content-div4 {
  max-height: 200px;
}
.card_info:hover table {
  color: white;
  /*border: 1px solid #304ffe;*/
}

.card_select>table {
  color: #fff !important;
}
.card_select {
  background-color: #2979FF !important;
  color: white;
  /*border: 1px solid #304ffe !important;*/
}
.card_info>table {
  margin-bottom: 0px;
    color: #3e4960;
    font-size: 12px;
  text-align:center;
}
.card_info>table:hover {
  color: #fff;
}
.card_info>table>tbody>tr>td {
  border-top: none;
  padding: 2px 4px;
}
.card_info_active {
  background-color: #BDCCE4;
  /*border: 1px solid #afbed5;*/
}
.card_info_active>table {
  margin-bottom: 0px;
  color: #fff;
    font-size: 12px;
    text-align: center;
}
.wra_path_4 {
  height: 100%;
  margin-left:390px;
  background-color: #dce5f0;
}
.wra_path_5 {
  background-color: #afbed5;
  padding: 12px;
}
/*.wra_path_5>button>img {
  margin-right: 8px;
  margin-top: -4px;
}
.wra_path_5>button>i {
  margin-right: 8px;
}*/
.wra_path_5>button {
  margin-right: 5px;
  width: 36px;
  height: 28px;
}
.wra_path_6 {
  /*height: 100%;*/
}
.active_2 {
  background-color: #304FFE;
  border-radius: 0px;
  color: #fff;
}
.btn_tx {
  font-size: 17px;
  padding: 2px 9px;
}

/*login*/

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}

.wrapper_03 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background-color:#e8f0fa;
}

.login {
  border-radius:3px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #f57d31;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #afbed5;
  transition: border-width 0.2s ease;
  border-radius: 3px;
  color: #afbed5;
  background-color:#f6f9fd;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -38px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
  margin-left:2px;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2979ff;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}

.login>label>input {
  width: 12px;
  height: 12px;
  position: absolute;
}
.login>label>p {
  margin-left: 20px;
  color: #2979FF;
  font-size: 12px;
  margin-top: 3px;
}

.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2979ff;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}
footer a, footer a:link {
  color: #fff;
  text-decoration: none;
}
.wra_path>small {
  padding: 9px;
}
.container_fatca>button {
  margin-left: 200px;
  margin-top: 8px;
  margin-right: 10px;
  background-color: #304FFE;
}
.container_fatca>a {
  margin-left: 180px;
  position: absolute;
  margin-top: 10px;
  background: none !important;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.container_fatca>a>i {
  font-size: 18px;
}
.container_fatca>button:hover, .container_fatca>button:focus  {
  background-color: #304FFE;
}
.container_fatca>button>i {
  margin-right:10px;
}
.inp_ {
  border: 1px dashed #afbed5;
  height: 60px;
  padding: 20px;
  border-radius: 8px;
}





/*wizard*/
.btn-primary{
  text-decoration:none;
  color:#fff;
  background-color: #2b364b;
  padding:15px;
  border-radius:3px;
  display:inline-block;
  transition:background-color 0.3s;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #3B4B6B;
  text-decoration:none;
}

.btn-disabled{
  opacity:0.2;
}

.btn-disabled:hover{
  background:#29b9d4;
}
.slide-wrapper{
  /*margin-top: 25px;*/
  margin: 0px; 
  
}

.slide{
  display:none;
  opacity:0;
}

.slide.active{
  height: 100%;
  display:block;
  opacity:1;
}

.slide-header{
   padding: 15px;
   color: #2B364B;
   font-size: 16px;
   font-weight: 600;
}

.slide-content{
   color: rgba(232, 240, 250, 0.9);
   font-weight: 100;
   height: auto;
   padding: 15px;
}


/* ----- Navigation ----- */

nav{
  margin:10px 0px;
}

nav .btn-primary{
  /*width: 200px;*/
  width:100%;
  margin-left:6px;
}

nav .btn-primary:first-child{
  margin-left:0;
}

/* ----- Slider Details ----- */

.slider-details{
  margin:0;
  padding:0;
  list-style-type:none;
  position:absolute;
  top:40px;
  left:40px;
}

.slider-details li{
  margin-top:10px;
}

.slider-details li:first-child{
  margin-top:0;
}

.slide-counter{
  background:#2979FF;
  padding:10px 20px;
  font-size:30px;
  font-family:arial;
  color:#fff;
  border-radius:3px;
  text-align:center;
}
.slide-content .form-group>label {
  color: #f1f1f3;
}
.slide-content .form-group>div>input {
  border:none;
}
.img_tab {
  margin-top: 15px;
  margin-bottom: 30px;
}
.btn_nx {
  margin-left: 210px !important;
  text-align: center;
}
.slide-content>p>strong { 
  font-size: 16px;
}
.up_file_ {
  padding: 24px;
  height: 100px;
}

/*STEP*/
.step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: step;
  margin: 2em;
  position: relative;
}
.step::before,
.step::after {
  content: '';
  position: absolute;
  top: 0.75em;
  bottom: 0.75em;
  left: 0;
  right: 0;
  background: #afbed5;
}
.step::after {
  background: #2B364B;
  -webkit-transition: right 0.5s;
          transition: right 0.5s;
}
.step[data-step="0"]::after {
  right: 100%;
}
.step[data-step="1"]::after {
  right: 50%;
}
.step>input {
  display: none;
}
.step>p {
  counter-increment: step;
  color: #e8f0fa;
  height: 2em;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin: 0;
}
.step>p:first-of-type {
  background: -webkit-linear-gradient(left, #eee 50%, transparent 50%);
  background: linear-gradient(to right, #eee 50%, transparent 50%);
}
.step>p:last-of-type {
  background: -webkit-linear-gradient(left, transparent 50%, #eee 50%);
  background: linear-gradient(to right, transparent 50%, #eee 50%);
}
.step>p::before {
  content: counter(step);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0.5em;
  height: 2em;
  width: 2em;
  border-radius: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #afbed5;
}
.forward p::before {
  -webkit-transition: background 0 0.5s, color 0 0.5s;
          transition: background 0 0.5s, color 0 0.5s;
}
[data-step="0"] p:nth-child(1),
[data-step="1"] p:nth-child(2),
[data-step="2"] p:nth-child(3) {
  color: #000;
}
[data-step="1"] p:nth-child(1)::before,
[data-step="2"] p:nth-child(1)::before,
[data-step="2"] p:nth-child(2)::before {
  content:"ok";
}
[data-step="0"] p:nth-child(1)::before,
[data-step="1"] p:nth-child(2)::before,
[data-step="2"] p:nth-child(3)::before,
[data-step="1"] p:nth-child(1)::before,
[data-step="2"] p:nth-child(1)::before,
[data-step="2"] p:nth-child(2)::before {
  background: #2B364B;
  color: #fff;
}
.tline {
  width: 412px;
  float: none;
  margin: 0 auto;
}
.tline_up {
  margin-top:50px;
}
#demo>nav {
  margin:0px;
}

.browser__panel {
    background-image: url('../imagenes/bkg.png'); 
    height: 34px;
    border-bottom: 1px solid #2F54FE;
      -webkit-app-region: drag;
  -webkit-user-select: none;
}
.browser__menu {
  line-height: 32px;
  font-size: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/*.browser__menu-button {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  line-height: 15px;
  font-size: 14px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #304FFE;
  border-radius: 7.5px;
  background-color: #E8F0FA;
}*/
.browser__menu-button {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding: 1px 8px;
  color: #609BFF;
  -webkit-app-region: no-drag;
}
.browser__menu-button:hover {
  background-color:#2B364B;
  color:#fff;
}
.browser__menu-button:not(:first-child) {
  margin-left: 5px;
}

.browser__panel>p {
  text-align: center;
  color: #E8F0FA;
  padding-top: 6px;
}
@media(max-width:900px){
.resize {
  overflow: scroll;
  position: absolute;
  height: calc(100% - 100px) !important;
}
}

.load {
  margin-top:0px;
  padding:30px;
  color: #2B364B;
}
.load>i {
  color: #2979FF;
}
.pag_n {
  background-color: #AFBED5;
  padding: 10px 15px 10px;
  width: 100%;
  font-size:12px;
  color: #E8F0FA;
}

.point {
  margin-top: 9px;
  background-image: url('../imagenes/error.svg'); 
  width:16px;
  height:16px;
  background-repeat:no-repeat;
}
.point-good {
  margin-top: 9px;
  background-image: url('../imagenes/good.svg');  
  width:16px;
  height:16px;
  background-repeat:no-repeat;
}
.element_fly {
  background-color: #2979FF;
  height: 38px;
  width: 38px;
  z-index: 2;
  position: fixed;
  right: 0;
  top: 260px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor:pointer;
  display:block;
}
.element_fly:hover {
  background-color:#304FFE;
}
.round_f {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px 10px;
}
.up_file_ff {
  background-color: #F6F9FD;
  border: 1px dashed #ddd;
  border-radius: 6px !important;
  padding: 10px;
  font-size: 12px;
  color: #989898;
  margin-top: 8px;
  cursor: pointer;
}
.ui-widget {
  background: #fff !important;
  border-color: #ddd !important;
  border-radius: 0px !important;
}
.ui-widget-content {
  color: #2b364b !important;
  font-size: 12px !important;
  -webkit-box-shadow: none !important;
}
tr.spaceUnder > td
{
  padding-bottom: 10px;
}



.alert-notification {
  border: 2px solid; 
}
.alert-notification_error {
  color: #e14638; 
  background-color: #feeeec;
}
.alert-notification_correcto {
  color: #28B463; 
  background-color: #E4F6EB;
}
.alert-notification_observacion {
  color: #F5B041;
  background-color: #FEF5E7;
}
.alert-notification_icon {
  font-size: 2.5rem;
  margin: 0px !important;
  padding: 10px;
  border-radius: 50%;
  color: white;top:-3px;
}
.alert-error_icon {
    background-color: #e14638;
}
.alert-correcto_icon {
    background-color: #28B463;
}
.alert-observacion_icon {
    background-color: #F5B041;
}
.line-custom {
  padding: 15px 0px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.line-custom_right {
  text-align: center;
  border-right: 1px solid #ececec;
}
.alert-label {
  color: #747678;
  font-weight: 400;
  font-size: 1.2rem;
}
.alert-label_text {
  color: #747678; 
  padding-top: 6px; 
  font-weight: 400; 
  margin-top:15px;  
  font-size: 1.2rem;
  display:inline-block;
}